doctype html
html
  head
    title Roomer
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='/js/bootstrap.js')
    block content
